body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0;
}

#game-board {
    background-color: #ccc;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: repeat(21,1fr);
}

.snake,#snake {
    background-color: blue;
    border: .25vmin solid black;
}
.food {
    background-color: yellow;
    border: .25vmin solid black;
}